<!-- Fixed navbar start -->
<div class="navbar navbar-tshop navbar-fixed-top megamenu" role="navigation">
  <%= render 'tshop/shared/navbar_top' -%>
  
  <div class="container">
    
    <%= render 'tshop/shared/navbar_logo' -%>
    <%= render 'tshop/shared/navbar_cart' -%>  
    <%= render 'tshop/shared/navbar_menu' -%>
    
  </div>
  <!--/.container -->
  
  <%= render 'tshop/shared/navbar_search' -%> 
  
</div>
<!-- /.Fixed navbar  -->